body {
    background-color: mistyrose;
    margin-bottom: 100px;
}


.A5 {
    color: red;
}

.A6 {
    color: lightseagreen;
}

.A7 {
    color: lightseagreen;
}

.A10 {
    color: lightseagreen;
}

.A11 {
    color:lightseagreen;
}

.A14 {
    color: lightseagreen;
}

.A15 {
    color: lightseagreen;
}

.A18 {
    color: lightseagreen;
}

.A19 {
    color: lightseagreen;
}

.A22 {
    color: lightseagreen;
}

.A23 {
    color: lightseagreen;
}
.A2 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A3 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A4 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A9 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A13 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A17 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A21 {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.A25 {
    background-color: antiquewhite;;
    border-bottom: 1px solid black;
}